<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de inicio</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
            background-color: #121212;
            color: #ffffff;
            text-align: center;
        }

        h1 {
            color: #ffffff;
            padding: 20px;
        }

        button {
            padding: 10px 20px;
            margin: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <h1>INICIO</h1>
    <button onclick="window.location.href='/Cliente2'">Cliente</button>
    <button onclick="window.location.href='/Empleados2'">Empleados</button>
</body>

</html>