<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Empleados</title>
</head>

<body>
    <form action="/saveEmpleados" method="post">

        <label for="Nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre">
        <br><br>
        <label for="Apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido">
        <br><br>
        <label for="Edad">Edad</label>
        <input type="text" name="edad" id="edad">
        <br><br>
        <label for="Fecha">Fecha</label>
        <input type="date" name="fechaC" id="fechaC">
        <br><br>
        <label for="Sueldo">Sueldo</label>
        <input type="number" name="sueldo" id="sueldo">
        <br><br>
        <label for="Teléfono">Teléfono</label>
        <input type="text" name="telefono" id="telefono">
        <br><br>
        <button type="submit">Crear Empleado</button>
        <button type="submit"><a href="/Empleados2">Cancelar</a></button>
    </form>
</body>

</html>