<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cliente</title>
</head>

<body>
    <form action="/save" method="post">

        <label for="Codigo">Codigo</label>
        <input type="text" name="codigo" id="codigo">
        <br><br>
        <label for="Nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre">
        <br><br>
        <label for="Apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido">
        <br><br>
        <label for="Edad">Edad</label>
        <input type="text" name="edad" id="edad">
        <br><br>
        <label for="Teléfono">Teléfono</label>
        <input type="text" name="telefono" id="telefono">
        <br><br>
        <label for="Ciudad">Ciudad</label>
        <input type="text" name="ciudad" id="ciudad">

        <button type="submit">Crear Clientes</button>
    </form>
</body>

</html>